<p id="notice"><%= notice %></p>

<h1>Frida Modules</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Video link</th>
      <th>Image</th>
      <th>Content file</th>
      <th>Limit date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @frida_modules.each do |frida_module| %>
      <tr>
        <td><%= frida_module.name %></td>
        <td><%= frida_module.description %></td>
        <td><%= frida_module.video_link %></td>
        <td><%= frida_module.image %></td>
        <td><%= frida_module.content_file %></td>
        <td><%= frida_module.limit_date %></td>
        <td><%= link_to 'Show', frida_module %></td>
        <td><%= link_to 'Edit', edit_frida_module_path(frida_module) %></td>
        <td><%= link_to 'Destroy', frida_module, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Frida Module', new_frida_module_path %>
